{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "universe/native",
    "universe/shared/typescript-analysis"
  ],
  "overrides": [
    {
      "files": [
        "*.ts",
        "*.tsx",
        "*.d.ts"
      ],
      "parserOptions": {
        "project": "./tsconfig.json"
      }
    },
    {
      "files": [
        "!app/**"
      ],
      "rules": {
        "import/no-default-export": 2,
        "import/prefer-default-export": 0
      }
    }
  ],
  "rules": {
    "react/jsx-props-no-spreading": 0,
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "react/jsx-filename-extension": [
      2,
      {
        "extensions": [
          ".tsx",
          ".jsx"
        ]
      }
    ],
    "react/react-in-jsx-scope": 0,
    "react/require-default-props": 0,
    "react-hooks/exhaustive-deps": [
      "error",
      {
        "additionalHooks": "(useMotiPressableTransition|useMotiPressable|useMotiPressables|useMotiPressableAnimatedProps|useInterpolateMotiPressable)"
      }
    ]
  }
}
