{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "universe/native",
    "universe/shared/typescript-analysis"
  ],
  "overrides": [
    {
      "files": [
        "*.ts",
        "*.tsx",
        "*.d.ts"
      ],
      "parserOptions": {
        "project": "./tsconfig.json"
      }
    }
  ],
  "rules": {
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "react/jsx-filename-extension": [
      2,
      {
        "extensions": [
          ".tsx",
          ".jsx"
        ]
      }
    ],
    "react/react-in-jsx-scope": 0
  }
}
